ul, h3 {
  margin: 0;
}

.selected-method {
  background-color: rgba(200, 200, 0, 0.2);
}

strong {
  font-size: 110%;
}

strong.first {
  background-color: rgba(200, 100, 0, 0.3);
}

#hidden {
  display: none;
}

:checked + #hidden {
  display: block;
}

#trace_checkbox {
  display: none;
}

.show-hide-button {
  background-color: rgba(100, 100, 0, 0.3);
}

.trace-item {
  margin-bottom: 10px;
}